<!DOCTYPE html>

<html>

<head>
    <title>About</title>

    

    <link rel="icon" href="/img/thatRona.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Eyasu Haile, Mike Gallagher, and Kyle Janda. It uses data from the state of Maryland's open REST API for COVID-19 testing sites.</p>
    </div>

    {{>footer}}


    

</body>


</html>
